        #logo-image {
            position: absolute;
            width: 65px;
            height: 52px;
            left: 121px;
            top: 82px;

            background: url(image/로고3\ 2.png);
        }

        #login-header {
            position: absolute;
            width: 209px;
            height: 82px;
            left: 184px;
            top: 63px;

            background: url(image/logo\ 1.png);
        }