@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('../font/PyeongChangPeace-Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body{
    width: 1050px;
    margin:0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.line{
    border-bottom: 0.5px solid;
    border-color: #c2c2c2;
}

h1 a {
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: flex-end;
    font-family: 'PyeongChangPeace-Light';
    text-decoration-line: none;
    font-weight: 1000;
    font-size: 60px;
    color: #0035D3;
}

input {
    border: 0.5px solid #001F7B;
}

select {
    filter: drop-shadow(-2px 4px 15px rgba(0, 7, 69, 0.15));
    height: 40px;
}

.registration-container div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 50px;
}

.registration-container input:not(
    .phone-number, .verification-code){
    box-sizing: border-box;
    width: 800px;
    height: 44px;
    background: #FFFFFF;
}

.registration-container .birth .radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.registration-container .birth .radio input {
    width: 23px;
    height: 23px;
}

.registration-container .birth select {
    width: 154px;
}

.registration-container .birth .radio .solar {
    margin: 0 0 4px 0;
}

.registration-container .birth .radio .lunar {
    margin: 0;
}

button{
    display: block;
    align-items: center;
    box-sizing: border-box;
    width: 150px;
    height: 54px;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 700;
    background: #0035D3;
    border: 2px solid #0035D3;
    border-radius: 17px;
}

button:hover{
    background-color: #001F7B;
}

.registration-container .email-input {
    width: 400px;
    margin: 0;
    padding-right: 400px;
    justify-content: flex-start;
}

.registration-container .email-input label {
    margin: 0 14px;
}

.email-address input {
    width: 278px;
    height: 44;
}

.email-address select {
    width: 230px;
}

.registration-container .btn-container {
    display: flex;
    justify-content: center;
    margin: 150px 0 90px 0;
}

.phone-number input, .verification-code input{
    box-sizing: border-box;
    width: 600px;
    height: 44px;
    background: #FFFFFF;
}

.phone-number, .verification-code{
    position: relative;
}

.checkbox{
    position: absolute;
    width: 170px;
    height: 40px;
    left: 820px;
}

input[type="checkbox"] {
    display: none;
    position: relative;
}

input[type=checkbox]+label {
    cursor: pointer;
    padding-left: 23px;
    color: #B5B5B5;
    background-repeat: no-repeat;
    background-image: url('../image/check-off.png');
}

input[type=checkbox]:checked+label {
    background-image: url('../image/check-on.png');
    color: #0035d3;
    font-weight: 400;
}

input[type=checkbox]:disabled+label {
    background-image: url('../image/check-off.png');
    color: #B5B5B5;
    font-weight: 400;
}