@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('../font/PyeongChangPeace-Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body{
    width: 1050px;
    margin:0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.line{
    border-bottom: 0.5px solid;
    border-color: #c2c2c2;
}

h1 a {
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: flex-end;
    font-family: 'PyeongChangPeace-Light';
    text-decoration-line: none;
    font-weight: 1000;
    font-size: 60px;
    color: #0035D3;
}

input {
    border: 0.5px solid #001F7B;
}

select {
    filter: drop-shadow(-2px 4px 15px rgba(0, 7, 69, 0.15));
    height: 40px;
}

.registration-container div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 30px;
}

.registration-container input{
    box-sizing: border-box;
    width: 859px;
    height: 44px;
    background: #FFFFFF;
}

.registration-container .birth .radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.registration-container .birth .radio input {
    width: 22px;
    height: 22px;
}

.registration-container .birth select {
    width: 154px;
}

.registration-container .birth .radio .solar {
    margin: 0 0 4px 0;
}

.registration-container .birth .radio .lunar {
    margin: 0;
}

button{
    display: block;
    align-items: center;
    box-sizing: border-box;
    width: 635px;
    height: 54px;
    color:#FFFFFF;
    font-size: 24px;
    background: #0035D3;
    border: 2px solid #0035D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.registration-container .email-input {
    width: 859px;
    margin: 0;
    justify-content: flex-start;
}

.registration-container .email-input label {
    margin: 0 14px;
}

.email-address input {
    width: 278px;
    height: 44;
}

.email-address select {
    width: 230px;
}

.registration-container .btn-container {
    display: flex;
    justify-content: center;
    margin: 90px 0 90px 0;
}

input[type="checkbox"] {
    display: none;
    width: 159.56px;
    height: 38.09px;
    margin-top: -25px;
}

input[type=checkbox]+label {
    cursor: pointer;
    padding-left: 23px;
    background-repeat: no-repeat;
    background-image: url('../image/check_off.png');
}

input[type=checkbox]:checked+label {
    background-image: url('../image/check_on.png');
}

input[type=checkbox]:disabled+label {
    background-image: url('../image/check_off.png');
}