@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(NanumFont_TTF_ALL/NanumGothic.ttf) format('truetype');
}

a {
    text-decoration-line: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

body {
    width: 1120px;
    margin: 0 auto;
    font-weight: 100;
    font-size: 13px;
    font-family: NanumGothic;
}

button {
    cursor: pointer;
}

.line {
    border-bottom: 0.5px solid;
    border-color: black;
}

#line1 {
    border-color: #c2c2c2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-family: 'PyeongChangPeace-Light';
    font-weight: 1000;
    font-size: 36px;
}

.header h1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0035d3;
}

.header h1 a img {
    padding-right: 10px;
}

.header .search-box {
    position: relative;
    width: 510px;
    height: 35px;
}

.header .search-box .icon {
    position: absolute;
    top: 10px;
    right: -7px;
}

.header .search-box input {
    width: 100%;
    height: 100%;
    border: 2px solid #001f7b;
    border-radius: 38px;
    padding: 0 0 0 25px;
    font-weight: 520;
    font-size: 13px;
    font-family: NanumGothic;
}

.login {
    display: flex;
    align-items: center;
}

.login #login {
    border-right: 1px solid black;
    padding: 0 12px 0 8px;
}

.login #join {
    padding: 0 0 0 12px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    margin: 7px 0px;
}

.nav>li {
    position: relative;
    line-height: 50px;
}

.nav>li>a:hover {
    color: #0035d3;
}

.category,
.submenu {
    width: 208px;
    display: none;
    position: absolute;
    z-index: 2;
    background: white;
    border-radius: 3px;
    box-shadow: 3px 3px 13px 1px rgba(75, 75, 75, 0.15);
}

.submenu {
    top: 0px;
    left: 208px;
    z-index: 3;
}

.category>li,
.submenu>li {
    line-height: 30px;
    position: relative;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16px;
}

.category a {
    display: block;
}

.nav>li:hover .category {
    display: block;
}

.category>li:hover .submenu {
    display: block;
}

.category li:hover {
    background: #e6e6e6;
}

.category-container {
    display: flex;
    align-items: baseline;
}

.category-vector div {
    width: 20px;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin-right: 10px;
}

.body-header {
    width: 218px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0 0;
    font-weight: 800;
    font-size: 33px;
}

.select-box {
    display: flex;
    justify-content: flex-end;
}

.select-box select {
    width: 120px;
    height: 35px;
    font-weight: 600;
    font-size: 13px;
    box-shadow: 3px 3px 13px 2px rgba(59, 59, 59, 0.15);
    border-radius: 4px;
    border-style: none;
    padding: 0 6px;
    margin: 5px 0 36px 0;
}

.content {
    border: 1px solid #cccccc;
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    margin: 0 0 33px 0;
}

.content .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0 510px 0 35px;
}

.content .deal-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #0035d3;
}

.content .deal-status button {
    width: 115px;
    height: 39px;
    border: 0.5px solid rgba(0, 0, 0, 0.92);
    border-radius: 14px;
    background-color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0 0 0;
}