@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothic';
  src: url(NanumFont_TTF_ALL/NanumGothic.ttf) format('truetype');
}

a {
  text-decoration-line: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

body {
  width: 1120px;
  margin: 0 auto;
  font-weight: 100;
  font-size: 13px;
  font-family: NanumGothic;
}

button {
  cursor: pointer;
}

.line {
  border-bottom: 0.5px solid;
  border-color: black;
}

#line1 {
  border-color: #c2c2c2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: 'PyeongChangPeace-Light';
  font-weight: 1000;
  font-size: 36px;
}

.header h1 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0035d3;
}

.header h1 a img {
  padding-right: 10px;
}

.header .search-box {
  position: relative;
  width: 510px;
  height: 35px;
}

.header .search-box .icon {
  position: absolute;
  top: 10px;
  right: -7px;
}

.header .search-box input {
  width: 100%;
  height: 100%;
  border: 2px solid #001f7b;
  border-radius: 38px;
  padding: 0 0 0 25px;
  font-weight: 520;
  font-size: 13px;
  font-family: NanumGothic;
}

.login {
  display: flex;
  align-items: center;
}

.login #login {
  border-right: 1px solid black;
  padding: 0 12px 0 8px;
}

.login #join {
  padding: 0 0 0 12px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  margin: 7px 0px;
}

.nav > li {
  position: relative;
  line-height: 50px;
}

.nav > li > a:hover {
  color: #0035d3;
}

.category,
.submenu {
  width: 208px;
  display: none;
  position: absolute;
  z-index: 2;
  background: white;
  border-radius: 3px;
  box-shadow: 3px 3px 13px 1px rgba(75, 75, 75, 0.15);
}

.submenu {
  top: 0px;
  left: 208px;
  z-index: 3;
}

.category > li,
.submenu > li {
  line-height: 30px;
  position: relative;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
}

.category a {
  display: block;
}

.nav > li:hover .category {
  display: block;
}

.category > li:hover .submenu {
  display: block;
}

.category li:hover {
  background: #e6e6e6;
}

.category-container {
  display: flex;
  align-items: baseline;
}

.category-vector div {
  width: 20px;
  border-bottom: 2px solid;
  padding-bottom: 4px;
  margin-right: 10px;
}

.body-header {
  width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0 0 28px;
  font-weight: 800;
  font-size: 33px;
}

.delete-btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 12px 0 0;
}

.delete-btn button {
  width: 75px;
  height: 33px;
  background: #ff4f4f;
  border-radius: 14px;
  color: white;
  border-color: #ff4f4f;
  font-weight: 400;
  font-size: 17px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section .list-item {
  width: 20%;
  margin: 30px 2.5%;
}

section .list-item .item-content {
  width: 240px;
}

section .list-item .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .list-item .tags-and-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
}

.tags-and-check div label {
  width: 16px;
  height: 16px;
  border: 1.4px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.tags-and-check div input[type='checkbox']:checked + label {
  background-image: url(../res/checkbox.png);
  background-size: 100%;
}

.tags-and-check div input[type='checkbox'] {
  display: none;
}
