@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('../font/PyeongChangPeace-Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.ttf') format('truetype');
}

a {
    text-decoration-line: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    font-family: 'NanumGothic';
}

button {
    cursor: pointer;
}

.line {
    border-bottom: 0.5px solid;
    border-color: #c2c2c2;;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-family: 'PyeongChangPeace-Light';
    font-weight: 1000;
    font-size: 45px;
}

.header h1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0035d3;
}

.header h1 a img {
    padding-right: 10px;
}

.header .search-box {
    position: relative;
    width: 635px;
    height: 44px;
}

.header .search-box .icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.header .search-box input {
    width: 100%;
    height: 100%;
    border: 2px solid #001f7b;
    border-radius: 38px;
    padding: 0 0 0 25px;
    font-weight: 520;
    font-size: 16px;
    font-family: 'NanumGothic';
}

.login {
    display: flex;
    align-items: center;
}

.login #login {
    border-right: 1px solid black;
    padding: 0 12px 0 8px;
}

.login #join {
    padding: 0 0 0 12px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.nav a:hover {
    color: #0035d3;
}

.category-container {
    display: flex;
    align-items: baseline;
}

.category-vector div {
    width: 20px;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin-right: 10px;
}

.type-container button{
    border-radius: 17px;
}

.info-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}

.title input, .name input, .hashtag input{
    box-sizing: border-box;
    width: 859px;
    height: 44px;
    background: #FFFFFF;
    border: 0.5px solid #001F7B;
}

.info-container .description input{
    box-sizing: border-box;
    width: 859px;
    height: 537px;
    background: #FFFFFF;
    border: 0.5px solid #001F7B;
}

select {
    width: 210px;
    height: 44px;
    filter: drop-shadow(-2px 4px 15px rgba(0, 7, 69, 0.15));
}

.info-container .category{
    position: relative;
    margin-left: 225px;
}

.category input[type=text]{
    box-sizing: border-box;
    width: 650px;
    height: 45.29px;
    background: #FFFFFF;
    border: 0.5px solid #001F7B;
    margin-left: 40px;
}

.category .checkbox{ 
    width: 159.56px;
    height: 38.09px;
}
.checkbox input[type="checkbox"] {
    display: none;
}

input[type=checkbox]+label {
    cursor: pointer;
    padding-left: 23px;
    background-repeat: no-repeat;
    background-image: url('../image/check_off.png');
}

input[type=checkbox]:checked+label {
    background-image: url('../image/check_on.png');
}

input[type=checkbox]:disabled+label {
    background-image: url('../image/check_off.png');
}

.image div{
    box-sizing: border-box;
    width: 260px;
    height: 260px;
    background: #F5F5F5;
    border: 0.5px solid #8D8D8D;
}

.image input{
    position: absolute;
}

.info-container .btn-container {
    display: flex;
    justify-content: center;
    margin: 90px 0 90px 0;
}

.btn-container button{
    display: block;
    align-items: center;
    box-sizing: border-box;
    width: 135px;
    height: 61.36px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    background: #0035D3;
    border: 2px solid #0035D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
